*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

input,
select,
textarea {
  font: inherit;
  color: inherit;
  vertical-align: top;
}

body {
  font-size: 16px;
  line-height: 1.7;
  color: #111;
  font-family: "Noto Sans JP", sans-serif;
  background: #fafafa;
}

.c-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 30px;
  border: 2px solid #111;
  border-radius: 60px;
  background-color: #fff;
  color: #111;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  white-space: nowrap;
}

.c-heading {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
}
.c-heading__en {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .c-heading__en {
    font-size: 38px;
  }
}
.c-heading__ja {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 0.08em;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .c-heading__ja {
    font-size: 14px;
  }
}

.merit-box {
  display: inline-block;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px 0;
}
@media screen and (max-width: 767px) {
  .merit-box {
    padding: 10px 20px;
  }
}

.merit-box__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  width: 920px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .merit-box__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 18px;
    width: 100%;
  }
}

.merit-box__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.merit-box__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}
@media screen and (max-width: 767px) {
  .merit-box__title {
    gap: 14px;
  }
}

.merit-box__number {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 110px;
  line-height: 1;
  color: #fabe00;
  width: 42px;
}
@media screen and (max-width: 767px) {
  .merit-box__number {
    font-size: 70px;
  }
}

.merit-box__title-text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0.1em;
  color: #111;
}
@media screen and (max-width: 767px) {
  .merit-box__title-text {
    font-size: 16px;
  }
}

.merit-box__description {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 2;
  color: #111;
}
@media screen and (max-width: 767px) {
  .merit-box__description {
    font-size: 14px;
  }
}

.merit-box__img {
  width: 350px;
  height: 350px;
}
@media screen and (max-width: 767px) {
  .merit-box__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 200px;
    height: 200px;
  }
}
.merit-box__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.l-header {
  padding: 20px 0;
}
@media screen and (max-width: 767px) {
  .l-header {
    padding: 0;
  }
}
.l-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .l-header__inner {
    padding: 22px 15px;
  }
}
.l-header__logo {
  width: 135px;
  height: 35px;
}
.l-header__logo a {
  display: block;
}
.l-header__logo img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .l-header__logo {
    width: 100px;
    height: 26px;
  }
}
.l-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .l-header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;
    background-color: #f7ba1a;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 86px 40px;
    gap: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    z-index: 10;
  }
  .l-header__nav.is-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.l-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .l-header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    gap: 0;
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 767px) {
  .l-header__nav-item {
    width: 100%;
    text-align: right;
  }
}
.l-header__nav-item a {
  text-decoration: none;
  color: #111;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .l-header__nav-item a {
    display: block;
    padding: 14px 0;
    letter-spacing: 0.03em;
  }
}
.l-header__hamburger {
  display: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 20;
}
@media screen and (max-width: 767px) {
  .l-header__hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6px;
    width: 36px;
    height: 21px;
  }
}
.l-header__hamburger span {
  display: block;
  width: 36px;
  height: 3px;
  background-color: #111;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.l-header__hamburger.is-active span:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}
.l-header__hamburger.is-active span:nth-child(2) {
  opacity: 0;
}
.l-header__hamburger.is-active span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 767px) {
  .p-concept {
    padding: 60px 0;
  }
}
.p-movie {
  padding: 100px 0;
  background-image: url(../img/movie-bg.png);
  background-size: contain;
}
.p-movie__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 56px;
}
.p-movie__video {
  width: 640px;
  max-width: 100%;
}
.p-movie__video-wrapper {
  position: relative;
  padding-top: 56.25%;
}
.p-movie__video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-how-to-use {
  padding: 100px 0;
}
@media screen and (max-width: 767px) {
  .p-how-to-use {
    padding: 60px 15px;
  }
}
.p-how-to-use__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .p-how-to-use__inner {
    gap: 114px;
  }
}
.p-how-to-use__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 75px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .p-how-to-use__content {
    gap: 112px;
  }
}

.step2-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  padding-left: 95px;
}
@media screen and (max-width: 767px) {
  .step2-title {
    gap: 16px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-left: 0;
  }
}
.step2-title__text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.7;
  letter-spacing: 0.1em;
  color: #111;
}
@media screen and (max-width: 767px) {
  .step2-title__text {
    font-size: 18px;
  }
}
.step2-title__img {
  position: absolute;
  width: 85px;
  height: 110px;
  top: -73px;
  left: 0;
}

.p-step1__items,
.p-step2__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.p-concept {
  padding: 50px 0;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .p-concept {
    padding: 60px 0;
  }
}
.p-concept__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 176px;
}
@media screen and (max-width: 767px) {
  .p-concept__inner {
    gap: 150px;
  }
}
.p-concept__logo {
  width: 230px;
}
.p-concept__logo img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .p-concept__logo {
    width: 180px;
  }
}
.p-concept__content {
  position: relative;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8b819), to(#f0d320));
  background: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 55px 100px;
}
@media screen and (max-width: 767px) {
  .p-concept__content {
    width: 1100px;
    height: 1100px;
    padding: 0 40px 105px;
  }
}
.p-concept__img {
  position: absolute;
  top: -126px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 330px;
  height: 370px;
}
.p-concept__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 767px) {
  .p-concept__img {
    top: -110px;
    width: 320px;
  }
}
.p-concept__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 42px;
}
@media screen and (max-width: 767px) {
  .p-concept__body {
    gap: 40px;
    max-width: 345px;
  }
}
.p-concept__text {
  font-size: 16px;
  font-weight: bold;
  line-height: 2.3;
  text-align: center;
}
.p-concept__button-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
@media screen and (max-width: 767px) {
  .p-concept__button-area {
    gap: 12px;
  }
}
.p-concept__button-lead {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.08em;
}

body.is-active {
  overflow: hidden;
}

.p-first-view {
  margin: 0 30px;
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8b819), to(#f0d320));
  background: linear-gradient(180deg, #f8b819 0%, #f0d320 100%);
  padding: 90px 0 129px;
}
@media screen and (max-width: 767px) {
  .p-first-view {
    margin: 0 15px;
    padding: 50px 0 0;
    border-radius: 20px;
    overflow: hidden;
  }
}
.p-first-view__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .p-first-view__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 26px;
    padding: 0;
  }
}
.p-first-view__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .p-first-view__body {
    gap: 22px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.p-first-view__lead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}
@media screen and (max-width: 767px) {
  .p-first-view__lead {
    gap: 8px;
  }
}
.p-first-view__lead-text {
  display: inline-block;
  background-color: #fafafa;
  padding: 12px 16px;
  border-radius: 5px;
  font-size: 38px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .p-first-view__lead-text {
    font-size: 22px;
    padding: 10px;
  }
}
.p-first-view__description {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .p-first-view__description {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .p-first-view__button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.p-first-view__img {
  width: 600px;
  height: 579px;
}
.p-first-view__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 767px) {
  .p-first-view__img {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}

.c-button--primary {
  background-color: #111;
  color: #fafafa;
  border: 2px solid #fafafa;
}

.p-case {
  padding: 158px 0 50px;
}
@media screen and (max-width: 767px) {
  .p-case {
    padding: 168px 40px 60px;
  }
}
.p-case__inner {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 54px;
}
@media screen and (max-width: 767px) {
  .p-case__inner {
    gap: 30px;
    padding: 0;
  }
}
.p-case__title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
  .p-case__title {
    font-size: 18px;
  }
}
.p-case__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .p-case__list {
    gap: 15px;
  }
}
.p-case__item {
  width: 200px;
}
.p-case__item img {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .p-case__item {
    width: 140px;
  }
}

.p-news {
  padding: 50px 0;
}
@media screen and (max-width: 767px) {
  .p-news {
    padding: 60px 15px;
  }
}
.p-news__inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 105px 34px;
  background-color: #fafafa;
  border-radius: 30px;
  -webkit-box-shadow: 0px 9px 30px 0px rgb(244, 244, 244);
          box-shadow: 0px 9px 30px 0px rgb(244, 244, 244);
}
@media screen and (max-width: 767px) {
  .p-news__inner {
    padding: 40px 12px;
    border-radius: 20px;
  }
}
.p-news__title {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .p-news__title {
    font-size: 38px;
    text-align: center;
    margin-bottom: 28px;
  }
}
.p-news__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.p-news__item {
  border-top: 1px solid #e3e3e3;
}
.p-news__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 12px 0;
  text-decoration: none;
  color: #111;
}
@media screen and (max-width: 767px) {
  .p-news__item a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
    padding: 10px 0;
  }
}
.p-news__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  width: 232px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 767px) {
  .p-news__meta {
    width: auto;
  }
}
.p-news__date {
  font-size: 16px;
  color: #333;
}
.p-news__category {
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  padding: 2px 10px;
  border-radius: 2px;
}
.p-news__category--news {
  background-color: #e4780c;
}
.p-news__category--column {
  background-color: #ecb815;
  padding: 2px 15px;
}
.p-news__category--event {
  background-color: #389b47;
}
.p-news__text {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 767px) {
  .p-news__text {
    white-space: normal;
  }
}
.p-news__more {
  text-align: right;
  margin-top: 20px;
}
.p-news__more a {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #111;
  text-decoration: none;
  border-bottom: 2px solid #111;
  padding-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .p-news__more {
    text-align: center;
    margin-top: 22px;
  }
}

.p-movie {
  padding: 100px 0;
  background-image: url(../img/movie-bg.png);
  background-size: contain;
}
@media screen and (max-width: 767px) {
  .p-movie {
    padding: 60px 15px;
  }
}
.p-movie__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 56px;
}
@media screen and (max-width: 767px) {
  .p-movie__inner {
    gap: 32px;
  }
}
.p-movie__video {
  width: 640px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .p-movie__video {
    width: 100%;
  }
}
.p-movie__video-wrapper {
  position: relative;
  padding-top: 56.25%;
}
.p-movie__video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-how-to-use {
  padding: 100px 0;
}
@media screen and (max-width: 767px) {
  .p-how-to-use {
    padding: 60px 15px;
  }
}
.p-how-to-use__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .p-how-to-use__inner {
    gap: 114px;
  }
}
.p-how-to-use__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 75px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .p-how-to-use__content {
    gap: 112px;
  }
}

.step2-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  padding-left: 95px;
}
@media screen and (max-width: 767px) {
  .step2-title {
    gap: 16px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-left: 0;
    font-size: 18px;
  }
}
.step2-title__text {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.7;
  letter-spacing: 0.1em;
  color: #111;
}
.step2-title__img {
  position: absolute;
  width: 85px;
  height: 110px;
  top: -73px;
  left: 0;
}

.p-step1__items,
.p-step2__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

.p-merit {
  background-color: #fafafa;
  padding: 100px 0;
}
@media screen and (max-width: 767px) {
  .p-merit {
    padding: 60px 15px;
  }
}

.p-merit__inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
@media screen and (max-width: 767px) {
  .p-merit__inner {
    padding: 0;
    gap: 30px;
  }
}

.p-merit__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .p-merit__list {
    gap: 44px;
  }
}

@media screen and (min-width: 768px) {
  .merit-box--reverse .merit-box__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}