@use "../global/variables" as *;
@use "../global/mixin" as *;

.c-form-label {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.c-form-label__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.48;
  color: $color-base;
}

.c-form-label__required {
  display: inline-block;
  padding: 5px 9px;
  background-color: #ee8013;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.18em;
  color: #fff;
}
