<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: https://ogp.me/ns#">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>merit-box</title>
    <meta
      name="description"
      content=""
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/components.css" />
  </head>
  <body>
    <div class="merit-box">
      <div class="merit-box__content">
        <div class="merit-box__text-wrapper">
          <div class="merit-box__title">
            <span class="merit-box__number">1</span>
            <h3 class="merit-box__title-text">通りすがりに猫が<br>挨拶してくれるようになる</h3>
          </div>
          <p class="merit-box__description">
            偶然の可能性も高いですが、OHA!を使うようになってから、やたらと猫が挨拶してくれるようになった、というお話をいただきます。とはいえ、自惚れすぎてはいけません。挨拶されたからといって一方的に話しかけ続けてしまうと気まぐれ猫ちゃんにうんざりされる上に周りの目も冷ややかです。
          </p>
        </div>
        <div class="merit-box__img">
          <img src="../img/merit1-img.png" alt="" width="350" height="350">
        </div>
      </div>
    </div>
    <script src="../js/script.js"></script>
  </body>
</html>
