<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/components.css" />
  </head>
  <body>
    <details class="qa">
      <summary class="qa__summary">
        <div class="qa__q-box">
          <div class="qa__q-icon">Q</div>
          <p class="qa__question">
            僕があまりにも起きない場合、相手に怒られることはあるのでしょうか？怖くて朝も起きられません。
          </p>
        </div>
      </summary>
      <div class="qa__a-box">
        <div class="qa__a-icon">A</div>
        <p class="qa__answer">残念ながら、相手によります。</p>
      </div>
    </details>
  </body>
</html>
