<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: https://ogp.me/ns#">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <title>step-items</title>
    <meta
      name="description"
      content=""
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/components.css" />
  </head>
  <body>
    <section class="p-step1">
        <div class="p-step1__inner">
          <div class="p-step1__items">
            <div class="c-step-item">
              <div class="c-step-item__icon">
                <span class="c-step-item__icon-step">STEP</span>
                <span class="c-step-item__icon-number">01</span>
              </div>
              <img class="c-step-item__img" src="../img/step1-1-img.png" alt="">
              <p class="c-step-item__text">
                起こしたい時間を<br>
                設定します
              </p>
            </div>
            <div class="c-step-item">
              <div class="c-step-item__icon">
                <span class="c-step-item__icon-step">STEP</span>
                <span class="c-step-item__icon-number">02</span>
              </div>
              <img class="c-step-item__img" src="../img/step1-2-img.png" alt="">
              <p class="c-step-item__text">
                スマホを枕元に置いて<br>
                寝ます
              </p>
            </div>
            <div class="c-step-item">
              <div class="c-step-item__icon">
                <span class="c-step-item__icon-step">STEP</span>
                <span class="c-step-item__icon-number">03</span>
              </div>
              <img class="c-step-item__img" src="../img/step1-3-img.png" alt="">
              <p class="c-step-item__text">
                起こすことによって<br>
                起きることができます
              </p>
            </div>
          </div>
        </div>
      </section>
    <script src="../js/script.js"></script>
  </body>
</html>
